# Sequencing data
*.fastq
*.fastq.gz
*.fq
*.fq.gz

# Reference genomes
*.fa
*.fasta
*.fna
*.fa.gz
*.fasta.gz
*.fna.gz

# Bowtie2 index files
*.bt2
*.b2

# Alignment files
*.bam
*.bam.bai
*.sam



# Trimmed reads
trimmed/

# Peak/output files
peaks/

# Reference directory
reference/

# BAM directory
bam/

# Logs
*.log

# Temporary files
*.tmp


# Sequencing data
*.fastq
*.fastq.gz
*.fq
*.fq.gz

# Alignment files
*.bam
*.bam.bai
*.sam
*.cram
*.crai

# Reference genomes and alignment indexes
reference/*.fa
reference/*.fasta
reference/*.fa.gz
reference/*.bt2
reference/*.bt2l

# Temporary/intermediate files
trimmed/

# Large genome reference/index files
reference/mm10.fa
reference/mm10.*.bt2
reference/mm10.rev.*.bt2
